<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> </a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Training Crew</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div> 
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="body">
              <form class="m-4" [formGroup]="TrainingCrewForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Department Name</mat-label>
                      <mat-select formControlName="departmentNameId" required>
                        <mat-option value="0">--Select--</mat-option>
                        <mat-option *ngFor="let code of selectedDepartmentName" [value]="code.value">
                          {{code.text}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="TrainingCrewForm.get('departmentNameId').hasError('required')">
                        Select Any Department Name
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Officer Status</mat-label>
                      <mat-select formControlName="officersStatusId" required>
                        <mat-option value="0">--Select--</mat-option>
                        <mat-option *ngFor="let code of selectedOfficersStatuses" [value]="code.value">
                          {{code.text}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="TrainingCrewForm.get('officersStatusId').hasError('required')">
                        Select Any Officers Status
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Rank</mat-label>
                      <mat-select formControlName="rankId" required>
                        <mat-option value="0">--Select--</mat-option>
                        <mat-option *ngFor="let code of selectedRanks" [value]="code.value">
                          {{code.text}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="TrainingCrewForm.get('rankId').hasError('required')">
                        Select Any Rank
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>PNo</mat-label>
                      <input matInput formControlName="pno" required>
                      <mat-error *ngIf="TrainingCrewForm.get('pno').hasError('required')">
                        Pno is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Name</mat-label>
                      <input matInput formControlName="name" required>
                      <mat-error *ngIf="TrainingCrewForm.get('name').hasError('required')">
                        name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label> Date Of Join</mat-label>
                      <input matInput [matDatepicker]="frompicker" formControlName="dateOfJoin">
                      <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                      <mat-datepicker #frompicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Duties</mat-label>
                      <input matInput formControlName="duties" required>
                      <mat-error *ngIf="TrainingCrewForm.get('duties').hasError('required')">
                        Duties is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Aviation Category</mat-label>
                      <input matInput formControlName="aviationCategory" required>
                      <mat-error *ngIf="TrainingCrewForm.get('aviationCategory').hasError('required')">
                        Aviation Category is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Mobile </mat-label>
                      <input matInput formControlName="mobile" required>
                      <mat-error *ngIf="TrainingCrewForm.get('mobile').hasError('required')">
                        Mobile is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="email" required>
                      <mat-error *ngIf="TrainingCrewForm.get('email').hasError('required')">
                        Email is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Remarks</mat-label>
                      <textarea matInput formControlName="remarks" ></textarea>
                    </mat-form-field>
                  </div>
                </div>
               
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [disabled]="!TrainingCrewForm.valid " mat-raised-button
                      color="primary">{{btnText}}</button>
                    <button type="button" mat-button routerLink="/basic-setup/trainingcrew-list">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  