<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style">
            <li class="breadcrumb-item">
              <h4 class="page-title">Acceptance List</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i>
              </a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Acceptance List</a>
            </li>
            <li class="breadcrumb-item active">Find</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <form
              class="m-4"
              [formGroup]="DemandForm"
            >
              <div class="row">
                <div
                  *ngIf="role == userRole.SuperAdmin || role == userRole.CO"
                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2"
                >
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Flight Line/Squadron </mat-label>
                    <mat-select
                      formControlName="departmentNameId"
                      (selectionChange)="onDepartmentSelectionChange()"
                    >
                      <mat-option value="0">--Select--</mat-option>
                      <mat-option
                        *ngFor="let dropdown of selectedDepartmentName"
                        [value]="dropdown.value"
                      >
                        {{ dropdown.text }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-">
                  <mat-form-field class="example-full-width mb-3" appearance="outline" >
                    <mat-label>Patt No</mat-label>
                    <input formControlName="part" matInput type="text" [matAutocomplete]="auto" required />
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let item of filteredOptions" [value]="item" (onSelectionChange)="onTraineeSelectionChanged(item)">
                        {{ item.text }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>               
              </div>
            </form>
            <div  class="row create-table db-tbl cls-rtn">
              <!-- <h3 class="text-center table-title">Spares Demand LIST</h3> -->
              <div class="materialTableHeader auto">
                <div class="row">
                  <div class="table-title">
                    <h3>Acceptance List</h3>
                    <p>{{pattNo }} - {{ itemName}}</p>
                  </div>
                </div>
                <div class="row">                  
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <h3 class="count-value">No of Items: - {{ itemCount }}</h3>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <ul class="header-buttons-left right-align ml-0">
                      
                      <li>
                        <div
                          class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2 db-p"
                        >
                          <button
                            class="btn-space"
                            mat-raised-button
                            color="primary"
                            (click)="printSingle()"
                          >
                            <mat-icon class="col-white">print</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="container no-padding">
                <div id="print-routine">
                  <table class="table tbl-by-group db-li-s-in">
                    <thead>
                      <tr>
                        <th class="cl-mrk"><h5>Ser</h5></th>
                        <th class="cl-mrk"><h5>Warranty From</h5></th>
                        <th class="cl-mrk-rmrk"><h5>Warranty To</h5></th>
                        <th class="cl-mrk-rmrk"><h5>Qty</h5></th>
                        <th class="cl-mrk-rmrk"><h5>Supplier</h5></th>
                        <th class="cl-mrk-rmrk"><h5>Brand</h5></th>
                        <th class="cl-mrk-rmrk"><h5>Model</h5></th>
                        <th class="cl-mrk-rmrk"><h5>Price</h5></th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container>
                        <tr *ngFor="let number of acceptanceListbyPattno; let i = index">
                          <td>{{ i+1 }}</td>
                          <td>{{ number.warrantyFrom | date: "dd/MMM/yyyy" }}</td>
                          <td>{{ number.warrantyTo | date: "dd/MMM/yyyy" }}</td>
                          <td>{{ number.sftQty }}</td>
                          <td>{{ number.companyName }} - {{ number.permanentAddress }}</td>
                          <td>{{ number.brand }}</td>
                          <td>{{ number.model }}</td>
                          <td>{{ number.purchasePrice }}</td>
                          
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
