<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Procurement Details</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">

            <div class="responsive_table">
              <div class="materialTableHeader">
                <div class="row"> 
                  <div class="col-8">
                    <ul class="header-buttons-left ml-0">
                      <li class="dropdown">
                        <h4>Procurement Details</h4>
                      </li>
                    </ul> 
                  </div>
                  <div class="col-4">
                    <ul class="header-buttons">
                      <li>
                        <div class="icon-button-demo">
                          <button class="btn-space"  mat-raised-button
                          color="warn" [routerLink]="['/spares-management/add-procurement']"> 
                          <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                          </button>
                          <button class="btn-space"  mat-raised-button
                          [routerLink]="['/spares-management/update-procurement',this.procurementId]"> Update
                            <mat-icon class="col-white">Update</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <table class="table table-bordered">
                <thead>
                  
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Flight Line/Squadron </th>
                    <td>{{departmentName}}</td>
                    <th scope="row">Patt No</th>
                    <td>{{itemDetail}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Name of Item</th>
                    <td>{{itemName}}</td>
                    <th scope="row">Type of Demand</th>
                    <td>{{demandType}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Qty</th>
                    <td>{{qty}}</td>
                    <th scope="row">Tender Floating Date</th>
                    <td>{{dateOfTenderFloat}}</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Tender Number</th>
                    <td>{{tenderNumber}}</td>
                    <th scope="row">Tender Opening Date</th>
                    <td>{{tenderopeningDate | date:'dd/MMM/yyyy'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">CST/TEC</th>
                    <td>{{cstTec}}</td>
                    <th scope="row">Attach CST</th>
                    <td class="tenderNotice" > <img src={{tenderNotice}} /></td>
                  </tr>
                  <tr>
                    <th scope="row">Purchase Order No</th>
                    <td>{{workOrder}}</td>
                    <th scope="row">Purchase Order Date</th>
                    <td>{{workOrderDate | date:'dd/MMM/yyyy'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Supplier</th>
                    <td>{{supplier}}</td>
                    <th scope="row">Expected Delivery Date</th>
                    <td>{{dateOfDelivery | date:'dd/MMM/yyyy'}}</td>
                  </tr>
                  
                  <tr>
                    <th scope="row">Attach Purchase Order Doc</th>
                    <td class="procurementDocument" > <img src={{procurementDocument}} /></td>
                    <th scope="row">Remarks</th>
                    <td>{{remarks}}</td>
                  </tr>
                  <tr>
                    <th scope="row"> Attach Doc</th>
                    <td class="tenderSpecification" > <img src={{tenderSpecification}} /></td>
                  </tr>
                </tbody>
              </table>          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
