<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Man Power State</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Man Power State</a>
            </li>
            <li class="breadcrumb-item active">All</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="responsive_table">
              <div class="row dash-cd-m-0">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 div-class div-left">
                  
                  <h3>Man Power State - <span class="count-color"> {{deptName}} ( {{CountTrainingCrew}} ) </span></h3> 
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 div-class div-right">
                  <div  class="dialog m-b-10">
                    <button class="back" [routerLink]="['/admin/dashboard/main']" mat-raised-button> <mat-icon>keyboard_backspace</mat-icon> Back</button> |
                    <button  class="all" (click)="inActiveItem(masterData.department.all, 'All')" mat-raised-button>All</button> | 
                    <button  color="accent" (click)="inActiveItem(masterData.department.mpa, 'MPA')" mat-raised-button>MPA</button> | 
                    <button   color="primary" (click)="inActiveItem(masterData.department.hel, 'HEL')" mat-raised-button>HEL</button>  |
                    <button   color="warn" (click)="inActiveItem(masterData.department.uav, 'UAV')" mat-raised-button>UAV</button>
                  </div>
                </div>
              </div>
              <div class="row">
                <mat-table #table [dataSource]="TrainingCrewList" matSort class="mat-cell content-center-align trainingcrew">
                  <ng-container matColumnDef="ser">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ser. </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </mat-cell>
                  </ng-container> 
                  <ng-container matColumnDef="deptName">
                    <mat-header-cell class="col-dept" *matHeaderCellDef mat-sort-header> Dept Name </mat-header-cell>
                    <mat-cell class="col-dept" *matCellDef="let element"> {{element.deptName}} </mat-cell>
                  </ng-container> 
                  <ng-container matColumnDef="name">
                    <mat-header-cell class="col-name" *matHeaderCellDef mat-sort-header> P No & Name </mat-header-cell>
                    <mat-cell  class="col-name" *matCellDef="let element"><span class="t-n-pno-d">(P No {{element.pno}})</span>, {{element.name}} </mat-cell>
                  </ng-container> 
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





 