<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<section class="content">
  <div class="container-fluid">
    <!-- <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Aircraft Flying Schedule</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Aircraft Flying Schedule</a>
            </li>
            <li class="breadcrumb-item active">All</li>
          </ul>
        </div>
      </div>
    </div> -->
     <!-- dashboard component -->
 <app-dashboard></app-dashboard>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card personalstate">
          <div class="body">
            <!-- <form class="m-4" [formGroup]="PersonalStateForm" (ngSubmit)="onSubmit()">
              <div class="row">

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Flight Line/Squadron </mat-label>
                    <mat-select formControlName="departmentNameId" required >
                      <mat-option value="0">All</mat-option>
                      <mat-option  *ngFor="let dropdown of selectedDepartmentName" [value]="dropdown">
                        {{dropdown.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="PersonalStateForm.get('departmentNameId').hasError('required')">
                      Flight Line/Squadron is Required!
                    </mat-error>
                  </mat-form-field>
                </div>
                

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label> Date</mat-label>
                    <input matInput [matDatepicker]="frompicker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                    <mat-datepicker #frompicker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                  <button class="btn-space" [disabled]="!PersonalStateForm.valid " mat-raised-button
                    color="primary">{{btnText}}</button>
                    
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2"></div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2 back-s">
                  <button class="back" [routerLink]="['/admin/dashboard/main']" mat-raised-button> <mat-icon>keyboard_backspace</mat-icon> Back</button>
                </div>
              </div>

              
            </form> -->
            <div class="responsive_table">
              <div class="row">
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mb-2-r">
                  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-2">
                    <h3 class="page-title personal">Personnel State</h3>
                  </div>
                </div>
                 
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2-r">
                  <button class="back" [routerLink]="['/admin/dashboard/user-dashboard']" mat-raised-button> <mat-icon>keyboard_backspace</mat-icon> Back</button>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mb-2-r">
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 count-value">                        
                      <h3 *ngIf="this.role != this.userRole.CO && this.role != this.userRole.SuperAdmin && this.role != this.userRole.HR">{{this.departmentName}} Flt Line</h3>
                      <h3 *ngIf="this.role == this.userRole.CO || this.role == this.userRole.SuperAdmin || this.role == this.userRole.HR">Naval Aviation</h3>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 count-value">
                      <h3>Total: <a [routerLink]="['/admin/dashboard/personalstatebystatus-list',0,1]" style="color: blue; font-size: 20px !important; text-decoration: underline;">{{totalCount}}</a> </h3>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 count-value">
                      <h3>Present: <a [routerLink]="['/admin/dashboard/personalstatebystatus-list',1,1]" style="color: blue; font-size: 20px !important; text-decoration: underline;">{{presentCount}}</a></h3>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 count-value">
                      <h3>Away: <a [routerLink]="['/admin/dashboard/personalstatebystatus-list',2,1]" style="color: blue; font-size: 20px !important; text-decoration: underline;">{{awayCount}}</a></h3>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 count-value">
                      <h3>Leave: <a [routerLink]="['/admin/dashboard/personalstatebystatus-list',3,1]" style="color: blue; font-size: 20px !important; text-decoration: underline;">{{leaveCount}}</a></h3>
                    </div>
                  </div>                    
                </div>
                
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2-r">
                  <button class="btn-space"  mat-raised-button color="primary" (click)="printSingle()"> Print
                    <mat-icon class="col-white">print</mat-icon>
                  </button>
                </div>
              </div>
                  
                <div id="print-routine">
                  <table class="table table-striped tblbg">
                    <!-- <thead *ngIf="isShown" class="bg">
                      <tr>
                        <th class="thbg"><h5>{{this.departmentNameValue}}</h5></th>
                      </tr>
                    </thead> -->
                    <thead class="bg">
                      <tr>
                        <th class="thbs-ser"><h5>Serial No</h5></th>
                        <th class="thbs-ps"><h5>Rank</h5></th>
                        <th class="thbs-ps"><h5>Total</h5></th>
                        <th class="thbs-ps"><h5>Present</h5></th>
                        <th class="thbs-ps"><h5>Away</h5></th>
                        <th class="thbs-ps"><h5>Leave</h5></th>
                        <!-- <th class="thbs-b"><h5>Breakdown</h5></th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let data of PersonalStateList;let i= index;">
                        <tr >
                          <td> {{ ((paging.pageIndex-1) *  paging.pageSize) + i+1}} </td>
                          <td>
                            {{data.rank}}
                          </td>
                          <td>
                            {{data.total}}
                          </td>
                          <td>
                            {{data.present}}
                          </td>
                          <td >
                            {{data.away}}
                          </td>
                          <td >
                            {{data.leave}}
                          </td>
                          <!-- <td >
                            
                          </td> -->
                        </tr>
                      </ng-container>                    
                    </tbody>
                  </table>
                </div>

                <div class="row">
                  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mb-2-r">
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 count-value">                        
                        <h3 *ngIf="this.role != this.userRole.CO && this.role != this.userRole.SuperAdmin && this.role != this.userRole.HR">{{this.departmentName}} Flt Line</h3>
                        <h3 *ngIf="this.role == this.userRole.CO || this.role == this.userRole.SuperAdmin || this.role == this.userRole.HR" >Naval Aviation</h3>
                      </div>
                      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 count-value">
                        <h3>Outside: <a [routerLink]="['/admin/dashboard/personalstatebystatus-list',0,2]" style="color: blue; font-size: 20px !important; text-decoration: underline;">{{outsideCount}}</a> </h3>
                      </div>
                      <!-- <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 count-value">
                        <h3>Present: <a [routerLink]="['/admin/dashboard/personalstatebystatus-list',1]" style="color: blue; font-size: 20px !important; text-decoration: underline;">{{presentCount}}</a></h3>
                      </div>
                      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 count-value">
                        <h3>Away: <a [routerLink]="['/admin/dashboard/personalstatebystatus-list',2]" style="color: blue; font-size: 20px !important; text-decoration: underline;">{{awayCount}}</a></h3>
                      </div>
                      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 count-value">
                        <h3>Leave: <a [routerLink]="['/admin/dashboard/personalstatebystatus-list',3]" style="color: blue; font-size: 20px !important; text-decoration: underline;">{{leaveCount}}</a></h3>
                      </div> -->
                    </div>                    
                  </div>
                  
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2-r">
                    <!-- <button class="btn-space"  mat-raised-button color="primary" (click)="printSingle()"> Print
                      <mat-icon class="col-white">print</mat-icon>
                    </button> -->
                  </div>
                </div>
              
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>