<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <!-- <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Aircraft Flying Schedule</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Aircraft Flying Schedule</a>
            </li>
            <li class="breadcrumb-item active">All</li>
          </ul>
        </div>
      </div> -->
    </div>
     <!-- dashboard component -->
 <app-dashboard></app-dashboard>

    <div class="row mt-2">
      
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card g logisticissue">
          <div class="body">
            <div class="row">
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 issues">
                <h3 class="page-title logistics-issues">Logistic Issues</h3>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 issues">
                <button class="back logistic" [routerLink]="['/admin/dashboard/main']" mat-raised-button> <mat-icon>keyboard_backspace</mat-icon> Back</button>
              </div>
            </div>
            <div class="row">
            <form [formGroup]="AirCraftFlyingForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 issues-s">
                  Total  : {{itemCount}}
                  </div>
                  <!-- <div  class="col-lg-2 col-md-2 col-sm-2 col-xs-2 issues-s">
                    
                    </div> -->
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Flight Line/Squadron </mat-label>
                    <mat-select  (selectionChange)="onDepartmentNameSelectionChange()" formControlName="departmentNameId" required >
                      <mat-option value="0">All</mat-option>
                      <mat-option *ngFor="let dropdown of selectedDepartmentName" [value]="dropdown.value">
                        {{dropdown.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="AirCraftFlyingForm.get('departmentNameId').hasError('required')">
                      Flight Line/Squadron is Required!
                    </mat-error>
                  </mat-form-field>
                </div>
                

                <div class="col-xl-2 col-lg-2 col-md-2 date">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label> Date From</mat-label>
                    <input matInput [matDatepicker]="frompicker" formControlName="dateFrom">
                    <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
                    <mat-datepicker #frompicker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 date">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label> Date To</mat-label>
                    <input matInput [matDatepicker]="topicker" formControlName="dateTo">
                    <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
                    <mat-datepicker #topicker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 issues-sb">
                  <button class="btn-space btn-submit" [disabled]="!AirCraftFlyingForm.valid " mat-raised-button
                    color="primary">{{btnText}}</button>
                    
                </div>
              </div>
              
            </form>
            </div>
            <div class="responsive_table">
              <div class="row">
                <table class="table tbl-by-group db-li-s-in">
                  <thead>
                    <tr>
                      <th class="cl-nm-rnk"><h5>Flight Line</h5></th>
                      <th class="cl-mrk-rmrk"><h5>Item Name</h5></th>
                      <th class="cl-mrk"><h5>Patt No</h5></th>
                      <th class="cl-mrk"><h5>Purchase Order Date</h5></th>
                      <th class="cl-mrk-rmrk"><h5>Purchase Order No</h5></th>
                      <th class="cl-mrk-rmrk"><h5>Expected Delivery Date</h5></th>
                      <th class="cl-mrk-rmrk"><h5>Delivery Delayed By</h5></th>
                      <th class="cl-mrk-rmrk"><h5>Reason</h5></th>
                      <th class="cl-mrk-rmrk"><h5>Last Progress</h5></th>
                      <th class="cl-mrk-rmrk"><h5>Supplier</h5></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngFor="let data of groupArrays; let i = index"
                    >
                      <tr>
                        <td [attr.rowspan]="data.datas.length + 1">
                          {{ data.departmentName }}
                        </td>
                      </tr>
                      <tr *ngFor="let number of data.datas">
                        <td>{{ number.itemName }}</td>
                        <td>{{ number.itemDetail }}</td>
                        <td>
                          {{ number.workOrderDate | date: "dd/MMM/yyyy" }}
                        </td>
                        <td>
                          {{ number.workOrder }}
                        </td>
                        <td>
                          {{ number.dateOfDelivery | date: "dd/MMM/yyyy" }}
                        </td>
                        <td>
                          <!-- {{ getDelayedNo(number)}}  -->
                        </td>
                        <td>{{ number.reason }}</td>
                        <td>{{ number.latestProgress }}</td>
                        <td>{{ number.supplier }}</td>
                        
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
               
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>