<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Sailor Biodata Details</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">

            <div class="responsive_table">
              <div class="materialTableHeader">
                <div class="row"> 
                  <div class="col-8">
                    <ul class="header-buttons-left ml-0">
                      <li class="dropdown">
                        <h4>Sailor Biodata Details</h4>
                      </li>
                    </ul> 
                  </div>
                  <div class="col-4">
                    <ul class="header-buttons">
                      <li>
                        <div class="icon-button-demo">
                          <button class="btn-space"  mat-raised-button
                          color="warn" [routerLink]="['/biodata/add-sailorbiodata']"> 
                          <mat-icon class="col-white">keyboard_backspace</mat-icon> Back
                          </button>
                          <button class="btn-space"  mat-raised-button
                          [routerLink]="['/biodata/update-sailorbiodata',this.trainingCrewId]"> Update
                            <mat-icon class="col-white">Update</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <table class="table table-bordered">
                <thead>
                  
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Flight Line/Squadron </th>
                    <td>{{departmentName}}</td>
                    <th scope="row">PNo</th>
                    <td>{{pno}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Rank</th>
                    <td>{{sailorRank}}</td>
                    <th scope="row">Name</th>
                    <td>{{name}}</td>
                  </tr>
                  <tr>
                    <th scope="row"> Date of Join</th>
                    <td>{{dateOfJoin | date:'dd/MMM/yyyy'}}</td>
                    <th scope="row">Appointment</th>
                    <td>{{duties}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Aviation Category</th>
                    <td>{{aviationCategory}}</td>
                    <th scope="row"> Mobile No</th>
                    <td>{{mobile}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Email</th>
                    <td>{{email}}</td>
                    <th scope="row">Remarks</th>
                    <td>{{remarks}}</td>
                  </tr>
                  
                  
                </tbody>
              </table>          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
