<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">{{pageTitle}}</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Life Limit Item Running Hour</a>
              </li>
              <li class="breadcrumb-item active">{{destination}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <!--<div class="header">
              <h2>{{destination}} LifeLimitItemRunningHour</h2>
  
            </div>-->
            <div class="body">
              <form class="m-4" [formGroup]="LifeLimitItemRunningHourForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Category Name</mat-label>
                      <input matInput formControlName="categoryName" required>
                      <mat-error *ngIf="LifeLimitItemRunningHourForm.get('categoryName').hasError('required')">
                        Category Name is required
                      </mat-error>
                    </mat-form-field>
                  </div> -->
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>life Limit Item</mat-label>                        
                        <mat-select formControlName="lifeLimitItemId" required>
                            <mat-option *ngFor="let code of lifeLimitItem" [value]="code.value">
                                {{code.text}}
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="LifeLimitItemRunningHourForm.get('lifeLimitItemId').hasError('required')">
                            Select Any life Limit Item
                        </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Maintenance Category</mat-label>                        
                        <mat-select formControlName="maintenanceCategoryId" required>
                            <mat-option *ngFor="let code of maintenanceCategory" [value]="code.value">
                                {{code.text}}
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="LifeLimitItemRunningHourForm.get('maintenanceCategoryId').hasError('required')">
                            Select Any Gse Schedule Work Type 
                        </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>itemDetailId</mat-label>
                      <input matInput formControlName="itemDetailId" >
                      
                    </mat-form-field>
                  </div>
                  <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>item Detail</mat-label>                        
                        <mat-select formControlName="itemDetailId" required>
                            <mat-option *ngFor="let code of itemDetail" [value]="code.value">
                                {{code.text}}
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="LifeLimitItemRunningHourForm.get('itemDetailId').hasError('required')">
                            Select Any Item Detail 
                        </mat-error>
                    </mat-form-field>
                  </div> -->

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Serial No</mat-label>
                      <input matInput formControlName="slNo" >
                      
                    </mat-form-field>
                  </div>
                  
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Flight Date</mat-label>
                        <input matInput [matDatepicker]="flightDate" formControlName="flightDate" required>
                        <mat-datepicker-toggle matSuffix [for]="flightDate"></mat-datepicker-toggle>
                       <mat-datepicker #flightDate></mat-datepicker>
                        <mat-error *ngIf="LifeLimitItemRunningHourForm.get('flightDate').hasError('required')">
                        Please select Flight Date
                        </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Flight Time in Hr</mat-label>
                      <input matInput formControlName="flightTimeHr" >
                      
                    </mat-form-field>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Flight Time in Min</mat-label>
                      <input matInput formControlName="flightTimeMin" >
                      
                    </mat-form-field>
                  </div>
                  
                  <div *ngIf="role == userRole.SuperAdmin" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Flight Line/Squadron </mat-label>
                        
                        <mat-select formControlName="departmentNameId" required>
                            <mat-option *ngFor="let code of departmentName" [value]="code.value">
                                {{code.text}}
                              </mat-option>                          
                        </mat-select>
                        <mat-error *ngIf="LifeLimitItemRunningHourForm.get('departmentNameId').hasError('required')">
                            Select Any Department 
                        </mat-error>
                    </mat-form-field>
                  </div>
                  
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Remarks</mat-label>
                      <textarea matInput formControlName="remarks" ></textarea>
                      
                    </mat-form-field>
                  </div>
                  <!--<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Menu position</mat-label>
                      <input matInput formControlName="menuPosition">
                    </mat-form-field>
                  </div>-->
                </div>
            
            
               
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [disabled]="!LifeLimitItemRunningHourForm.valid " mat-raised-button
                      color="primary">{{btnText}}</button>
                    <button type="button" mat-button routerLink="/basic-setup/lifelimititemrunninghour-list">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  