<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">AC Flying Program</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">AC Flying Program</a>
            </li>
            <li class="breadcrumb-item active">All</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="responsive_table">
              <div class="row dash-cd-m-0">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 div-class div-left">

                  <h3>AC Flying Program - <span class="count-color"> {{FlyingByDeptName}} ( {{CountAricraftFlying}} )
                    </span></h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 div-class div-right">
                  <div class="dialog m-b-10">
                    <button class="back" [routerLink]="['/admin/dashboard/main']" mat-raised-button> <mat-icon>keyboard_backspace</mat-icon> Back</button> |
                    <button class="all" (click)="FlyingByDept(masterData.department.all, 'All')"
                      mat-raised-button>All</button> |
                    <button color="accent" (click)="FlyingByDept(masterData.department.mpa, 'MPA')"
                      mat-raised-button>MPA</button> |
                    <button color="primary" (click)="FlyingByDept(masterData.department.hel, 'HEL')"
                      mat-raised-button>HEL</button> |
                    <button color="warn" (click)="FlyingByDept(masterData.department.uav, 'UAV')"
                      mat-raised-button>UAV</button>
                  </div>
                </div>
              </div>
              <div class="row">
                <mat-table #table [dataSource]="AricraftFlyingList" matSort
                  class="mat-cell  db-tbl db-avl-qty-tbl content-center-align">
                  <ng-container matColumnDef="ser">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ser. </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;"> {{ ((paging.pageIndex-1) * paging.pageSize) +
                      i+1}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="airCraftName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> AC Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.airCraftName}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="acNo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> AC No</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.acNo}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="callSign">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Call Sign</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.callSign}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="startUp">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Start Up</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.startUp}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="endurance">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Endu</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.endurance}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="fuel">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Fuel</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.fuel}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="dur">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Dur</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.dup}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="opaOff">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ops Offr</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.opaOff}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="mon">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Msn</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.mon}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="typeOfAC">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Type Of AC</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.typeOfAC}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Date</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.date | date:'dd/MMM/yyyy'}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="crew">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Crew</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.crew}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="remarks">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Remarks</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.remarks}} </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedFlyingColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedFlyingColumns;"></mat-row>
                </mat-table>
              </div>

            </div>

            <!-- <mat-paginator [length]="paging.length" [showFirstLastButtons]="masterData.paging.showFirstLastButtons"
              [pageSize]="paging.pageSize" [pageSizeOptions]="masterData.paging.pageSizeOptions"
              (page)="pageChanged($event)">
            </mat-paginator> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>